.btn-default {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
}

.link-primary {
    display: inline-block;

    color: var(--brand-primary);
    text-decoration: none;
}