.article-grid {
	display: flex;
	justify-content: flex-start;

	flex-wrap: wrap;

	#grid-hero {
		display: flex;
		flex-direction: column;
		figure {
			order: -1;
		}
		img {
			display: block;
			margin: 0;
			width: 100%;
		}
		@media screen and (min-width: $breakpoint--md) {

			justify-content: space-between;
			padding: 1em;
			margin-bottom: 1rem;
			width: 100%;
		}

		figure {
			margin: 0;
		}
	}

	@media (min-width: $breakpoint--sm) {
		& > article {
			width: calc(50% - 1rem);
		}
	}

	@media (min-width: $breakpoint--md) {
		& > article {
			width: calc(33.3% - 1rem);
		}
	}

	@media (min-width: $breakpoint--lg) {
		& > article {
			width: calc(25% - 1rem);
		}
	}
}
