.article-grid {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;

	@media (min-width: $breakpoint--sm) {
		& > article {
			width: calc(50% - 1rem);
		}
	}

	@media (min-width: $breakpoint--md) {
		& > article {
			width: calc(33.3% - 1rem);
		}
	}

	@media (min-width: $breakpoint--lg) {
		& > article {
			width: calc(25% - 1rem);
		}
	}
}
