.main-footer {
    align-self: flex-end;
    background-color: $cp-brand-primary;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}