.banner {
	.header-container {
		position: relative;
		flex-wrap: wrap;

		padding: 1rem;
		box-sizing: border-box;

		button {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;

		height: 100vh;
		flex: 0 0 100%;

		transition: transform 0.2s ease-in-out;

		&[data-toggle="close"] {
			transform: translateX(100vw);
		}
		&[data-toggle="open"] {
			transform: translateX(0);
		}
		ul {
			padding-left: 0;
			list-style: none;
		}
		a {
			display: block;

			padding: 0.5em 0;
			width: 100%;

			font-size: 1.5rem;
			text-decoration: none;
		}
	}
	
	@media screen and (min-width: 768px) {
		.header-container {
			position: static;
			justify-content: space-between;
			button {
				display: none;
			}
		}
		.menu-main-navigation-container {
			width: 100%;
			.nav {
				display: flex;
				margin: 0;
			}
		}
		nav {
			flex-direction: row;
			justify-content: center;

			height: auto;
			flex: 0 0 75%;

			&.nav-primary {
				transform: translateX(0);
			}

			a {
				margin: 0 1rem;
				font-size: 1rem;
			}
			ul li {
				flex: 1 16.67%;
			}
		}
	}
}
