.banner {
	.crowne-plaza & {
		@media screen and ( min-width: $breakpoint--md ) {
			background-color: $cp-brand-primary;
		}
		
	}

	.holiday-inn & {
		background-color: $hi-brand-primary; // @todo awaiting brand colours
	}

	.header-container {
		position: relative;
		flex-wrap: wrap;

		padding: 1rem;
		box-sizing: border-box;
		overflow: hidden;
		div {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;

		height: 100vh;
		flex: 0 0 100%;


		&[data-toggle="close"] {
			transform: translateX(100vw);
		}
		&[data-toggle="open"] {
			transition: transform 0.2s ease-in-out;

			transform: translateX(0);
		}
		ul {
			padding-left: 0;
			list-style: none;
		}
		a {
			display: block;

			padding: 0.5em 0;
			width: 100%;

			color: tomato;
			font-size: 1.5rem;
			text-decoration: none;
		}
	}
	
	@media screen and (min-width: $breakpoint--md) {
		.header-container {
			position: static;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2rem 0;

			button {
				display: none;
			}
		}
		.menu-main-navigation-container {
			width: 100%;

			.nav {
				display: flex;
				margin: 0;

				li {
					margin-right: 0;
				}

				a {
					text-align: right;
				}
			}
		}
		.brand {
			flex: 1 30%;
		}
		nav {

			flex-direction: row;
			justify-content: center;

			height: auto;
			flex: 0 0 70%;

			&.nav-primary {
				transform: translateX(0);
			}

			a {
				margin: 0;

				color: white; //@todo await brand colors
				font-size: 1rem;
				text-align: center;
			}
			ul li {
				margin: 0 .5rem;
				flex: 1 16.67%;
			}
		}
	}
}
