.gallery-grid {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;

	.gallery-hero {
		flex: 1 100%;
	}

	article {
		margin-bottom: 1rem;
	}
	
	& > article:not(.gallery-hero) {
		flex-basis: calc(50% - .5rem);
	}

	& > article:nth-of-type(even) {
		margin-right: 1rem;
	}

	@media (min-width: $breakpoint--md) {
		& > article {
			flex-basis: calc(33.3% - 1rem);
		}
	}

	@media (min-width: $breakpoint--lg) {
		& > article {
			flex-basis: calc(25% - 1rem);
		}
	}
}
