@font-face {
	font-family: 'Agenda';
	font-weight: normal;
	src: url('../fonts/agenda/Agenda-Medium.otf');
}

@font-face {
	font-family: 'Agenda';
	font-weight: light;
	src: url('../fonts/agenda/Agenda-Light.otf');
}

@font-face {
	font-family: 'Agenda';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/agenda/Agenda-Medium_Italic.otf');
}

@font-face {
	font-family: 'Agenda';
	font-weight: light;
	font-style: italic;
	src: url('../fonts/agenda/Agenda-Light_Italic.otf');
}

@font-face {
	font-family: 'Agenda';
	font-weight: bold;
	src: url('../fonts/agenda/Agenda-Bold.otf');
}

:root {
	--brand-plum: #a00062;
	--brand-light-grey: #eaeaea;
	--brand-dark-grey: #54585a;
	--brand-blue-light: #96c7d2;
	--brand-blue-dark: #001450;
	--brand-white: white;
	--brand-off-white: #ececeb;
	--brand-mustard: #ffd100;
	--brand-overlay: #373737;

	--brand-primary: var(--brand-plum);
	--brand-text: var(--brand-dark-grey);

	--brand-main-font: 'Agenda', sans-serif; 
}
