:root {
	--brand-plum: #a00062;
	--brand-light-grey: #eaeaea;
	--brand-dark-grey: #54585a;
	--brand-blue-light: #96c7d2;
	--brand-blue-dark: #001450;
	--brand-off-white: #ececeb;
	--brand-mustard: #ffd100;

	--brand-primary: var(--brand-plum);
	--brand-text: var(--brand-dark-grey);
}
