@font-face {
	font-family: 'Agenda';
	font-weight: normal;
	src: url('../fonts/agenda/Agenda-Medium.otf') format('opentype'),
		url('../fonts/agenda/Agenda-Medium.eot'),
		url('../fonts/agenda/Agenda-Medium.woff2') format('woff2'),
		url('../fonts/agenda/Agenda-Medium.woff') format('woff'),
		url('../fonts/agenda/Agenda-Medium.ttf')  format('truetype');
}

@font-face {
	font-family: 'Agenda';
	font-weight: light;
	src: url('../fonts/agenda/Agenda-Light.otf') format('opentype'),
		url('../fonts/agenda/Agenda-Light.eot'),
		url('../fonts/agenda/Agenda-Light.woff2') format('woff2'),
		url('../fonts/agenda/Agenda-Light.woff') format('woff'),
		url('../fonts/agenda/Agenda-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Agenda';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/agenda/Agenda-Medium_Italic.otf') format('opentype'),
		url('../fonts/agenda/Agenda-MediumItalic.eot'),
		url('../fonts/agenda/Agenda-MediumItalic.woff2') format('woff2'),
		url('../fonts/agenda/Agenda-MediumItalic.woff') format('woff'),
		url('../fonts/agenda/Agenda-MediumItalic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Agenda';
	font-weight: light;
	font-style: italic;
	src: url('../fonts/agenda/Agenda-Light_Italic.otf') format('opentype'),
		url('../fonts/agenda/Agenda-LightItalic.eot'),
		url('../fonts/agenda/Agenda-LightItalic.woff2') format('woff2'),
		url('../fonts/agenda/Agenda-LightItalic.woff') format('woff'),
		url('../fonts/agenda/Agenda-LightItalic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Agenda';
	font-weight: bold;
	src: url('../fonts/agenda/Agenda-Bold.otf') format('opentype'),
		url('../fonts/agenda/Agenda-Bold.eot'),
		url('../fonts/agenda/Agenda-Bold.woff2') format('woff2'),
		url('../fonts/agenda/Agenda-Bold.woff') format('woff'),
		url('../fonts/agenda/Agenda-Bold.ttf')  format('truetype');
}

:root {
	--brand-plum: #A00062;
	--brand-light-grey: #F5F5F5;
	--brand-dark-grey: #D8D8D8;
	--brand-text-dark-grey: #54585A;
	--brand-text-light-grey: #888888;
	--brand-blue-light: #020202;
	--brand-blue-dark: #001450;
	--brand-white: white;
	--brand-off-white: #ececeb;
	--brand-mustard: #ffd100;
	--brand-overlay: #373737;
	--brand-overlay-rgba: rgba(55, 55, 55, 0.9);


	--brand-primary: var(--brand-plum);
	--brand-text: var(--brand-dark-grey);

	--brand-main-font: 'Agenda', sans-serif; 
}
