.press-card {
	width: 100%;
	padding: 1em 0;

	hr {
		margin: 0;
		width: 100%;
		padding-right: 1em;
	}

	.separator-bottom {
		display: none;
	}

	&:last-of-type {
		padding-bottom: 3rem;

		.separator-bottom {
			display: block;
			margin-top: 3rem;
		}
	}

	.post {
		margin: 0;
		padding-bottom: 1rem;
		padding-right: 1em;

		a {
			text-decoration: none;
		}

		.press-card-date {
			padding-top: 1rem;
		}

		.press-title {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	background-color: #f5f5f5;

	p {
		color: var(--brand-dark-grey);
	}

	a {
		color: var(--brand-primary);
	}
}
