.resource-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
	width: 100%;
	background-color: var(--brand-off-white); // @todo check brand colours

	.resource-link {
		width: 100%;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
		&:focus {
			outline: none;
		}
		&:active {
			color: darkGrey; // @todo add brand colours
		}
	}

	.resource-card-text {
		align-self: flex-start;
		margin: 1.5em 1em;
		color: darkGrey; // @todo add brand colours
		h2 {
			margin: 0 0 1rem;

			font-size: 1em;
			color: var(--brand-primary);
		}

		.file-meta {
			margin-bottom: 0;
			color: var(--brand-text-light-grey);
			font-size: .7em;
		}
	}

	.resource-image {
		margin: 0;
		display: flex;
		width: 100%;

		img {
			width: 100%;
			object-fit: contain;
		}
	}
}
