.event-card {
    display: flex;
    flex-direction: column; 
    max-width: 14em;
    
    .event-date-title {
        display: flex;

        .date {
            width: 6rem;
            height: 6rem;
            background-color: $cp-brand-primary;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                font-size: 1.2em;
                color: #fff;
            }
        }
        
    }
}