.single-post {
    background-color: var(--brand-light-grey);
    @media screen and (min-width: $breakpoint--sm) {
        background-color: transparent;
    }
}

.container-single {
    margin: 0 auto;
    max-width: $breakpoint--sm;
}

.type-post {
    width: 100%;

    .entry-content {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
    }
}

.single-post-header {
    .archive-title {
        font-weight: bold;
    }
    .date time {
        font-size: .75rem;
        color: lightgrey;
    }
    .image {
        position: relative;
        left: -1rem;
        width: 100vw;
        margin: 0;
        img {
            display: block;
            width: 100%;
        }
    }

    @media screen and (min-width: $breakpoint--sm) {
        padding: 2rem;
        display: flex;
        background-image: linear-gradient(var(--brand-light-grey) 0px, var(--brand-light-grey) 66.6%, white 66.6%);

        .entry-title {
            font-size: 2rem;
        }

        .image {
            figcaption {
                position: absolute;
                bottom: 1rem;
                left: -200px;
                max-width: 200px;
            }
        }

        .meta,
        .image {
            flex: 1 50%;
        }
    }
}

.single-post-footer {
    max-width: 600px;
    margin: 2rem auto 0;

    .article-grid {

        @media screen and (min-width: $breakpoint--sm) {
            justify-content: center;
            flex-wrap: nowrap;

            & > article {
                width: 50%;
                margin-right: 2rem;
            }
        }
    }
}