.press-card {
	border-top: 1px solid var(--brand-dark-grey);
	box-sizing: border-box;
	margin: 1em 0;
	padding: 1em 0;
	width: 100%;

	&:last-of-type {
		border-bottom: 1px solid var(--brand-dark-grey);
	}

	&-link {
		display: none;
	}

	@media screen and (min-width: $breakpoint--md) {
		display: flex;
		justify-content: flex-start;
		position: relative;
		padding: 2em 0;
		&-link {
			position: absolute;
			top: calc(50% - 12.5px);
			right: 1em;

			display: block;
			height: 25px;
			width: 25px;
		}	
	}

	margin: 0;
	padding-bottom: 1rem;
	padding-right: 1em;

	a {
		text-decoration: none;
	}

	.press-card-date {
		font-size: .7em;
		color: var(--brand-dark-grey);
		@media screen and (min-width: $breakpoint--md) {
			margin: 0;
			flex-basis: 10rem;
		}

	}

	.press-title {
		padding-bottom: 0;
		margin-bottom: 0;
		font-weight: normal;
		@media screen and (min-width: $breakpoint--md) {
			margin: 0;
		}
	}

	background-color: #f5f5f5;

	p {
		color: var(--brand-dark-grey);
	}

	a {
		color: var(--brand-primary);
	}
}
