.event-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	height: 90%;
	margin: 1em 0;

	.event-date-title {
		display: flex;

		.date {
			width: 30%;
			height: 30vw;
			max-height: 3rem;
			padding: 2.5rem 0;
			box-sizing: border-box;

			display: flex;
			align-items: center;
			justify-content: center;

			background-color: var(--brand-primary);

			p {
				text-align: center;
				font-size: 1em;
				color: #fff;
			}
		}

		h3 {
			margin: auto 1em;

			color: var(--brand-primary);
			font-size: 1em;
		}
	}

	p {
		margin: 1em;
		color: var(--brand-dark-grey);
		font-size: .9em;
	}

	a {
		text-decoration: none;
		color: var(--brand-primary);
		font-size: .9em;
	}
}
