article.single-post {
    width: 100%;
    header {
        position: relative;
        min-height: 17rem;
        background-color: var(--brand-light-grey);

        @media screen and (min-width: $breakpoint--md) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
    @media screen and (min-width: $breakpoint--md) {
        .header {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .meta {
            flex-basis: 50%;
        }
    }

    .entry-content {
        @media screen and (min-width: $breakpoint--md) {
            margin-top: 10rem;
        }
    }
}

.container-event {
    margin: 0 auto;
    max-width: $breakpoint--sm;
}

.type-post {
    width: 100%;

    .entry-content {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
    }
}

.meta {
    padding: 2rem 1rem 0;
}
.archive-title {
    color: var(--brand-dark-grey);
    font-weight: bold;
    text-transform: uppercase;
}
.date {
    margin: 2em 0;
}
.date time {
    font-size: .75rem;
    color: var(--brand-dark-grey);
}
.image {
    margin: 0;
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
    figcaption {
        padding: 1rem;
        color: var(--brand-dark-grey);
    }
    @media screen and (min-width: $breakpoint--md) {
        position: absolute;
        bottom: -5rem;
        right: 2.5vw;
        max-width: 22.5rem;
        figcaption {
            position: absolute;
            bottom: -2rem;
            left: -190px;
            box-sizing: border-box;
            max-width: 200px;
        }
    }
    @media screen and (min-width: $breakpoint--lg) {
        right: 7.5vw;
    }
    @media screen and (min-width: 1200px) {
        right: 10vw;
    }
}

article.single-post {
    .entry-title {
        color: var(--brand-primary);
        font-size: 1em;
        font-weight: normal;
        @media screen and (min-width: $breakpoint--md) {
            font-size: 2rem;
        }
    }
}

.single-post-footer {
    max-width: 600px;
    margin: 2rem auto 0;
    padding: 0 1rem;

    h3 {
        color: var(--brand-dark-grey);
    }

    .article-grid {
        @media screen and (min-width: $breakpoint--sm) {
            justify-content: space-between;
            flex-wrap: nowrap;

            & > article:not(.grid-hero) {
                flex-basis: calc(50% - 1rem);
            }
        }
    }
}