.event-single {
	width: 100%;
	header {
		padding: 1rem 1rem 2rem; 
		background-color: var(--brand-light-grey);
		.archive-title {
			color: var(--brand-dark-grey);
			font-size: 1em;
			font-weight: bold;
		}
		h3 {
			color: var(--brand-primary);
			font-size: 1.5em;
		}
	}
	.event-info {
		padding-bottom: 2rem;
	}
	.event-meta {
		margin-bottom: 1rem;
		& > * {
			margin: 0;
			line-height: 1.5;
		}
	}
	.content {
		padding: 2rem 1rem;

		time {
			display: block;
		}
	}
	.event-video { // @todo pull out to reusable class
		position: relative;
		min-height: 8rem;
		img {
			height: 100%;
			width: 100%;
		}
	}
}
