.hero-panel {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    background-color: navy;
    // background-image: url("2/2020/02/cosmea-583092_1920-1200x799.jpg");
    color: white;

    .hero-heading {
        max-width: 80%;
        font-size: 1.6rem;
        
        @media screen and ( min-width: $breakpoint--md) {
            max-width: 65%;
        }
    }

    .hero-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 80%;

        .hero-rule {
            width: 20%;
            margin-right: 80%;
            text-align: left;
        }
        @media screen and ( min-width: $breakpoint--md) {
            max-width: 35%;
        }
    }

}