.front-page-panel {
	width: 100%;
	padding-bottom: 4rem;

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 4rem;
		padding-bottom: 0.5rem;

		.panel-title {
			max-width: 70%;
			font-size: 1.2rem;
			color: var(--brand-dark-grey);
		}

		a {
			text-decoration: none;

			color: var(--brand-primary);
		}
	}

	&.events-panel,
	&.press-panel {
		background-color: #f5f5f5;
	}
}
